@using System.Linq.Expressions
@using System.Reflection
@using System.Text.Json
@using System.Collections
@using BlazorApp.Shared.Form.Core


@foreach (var field in Form.Fields)
{
    <b>@field.Label</b>

    @if (field.Repeatable)
    {
        for (var i = 0; i < GetListLength(field); i++)
        {
            var index = i;
            <b>@index</b>
            
            <FieldRenderer Field="field" Data="@GetListValue(field, index)" DataChanged="@((data) => SetListValue(field, data, index))"  />

            <button @onclick="@(() => RemoveListValue(field, index))">X</button>
        }
        
        <button @onclick="@(() => SetListValue(field, null, GetListLength(field)))">ADD</button>
    }
    else
    {
        <FieldRenderer Field="field" Data="@GetValue(field)" DataChanged="@((data) => SetValue(field, data))"  />
    }
    
    <br />
}

@code {
    [Parameter]
    public DynamicFormDefinition Form { get; set; }
        
    [Parameter]
    public object Data { get; set; }

    [Parameter]
    public EventCallback<object> DataChanged { get; set; }
    

    protected object? GetValue(DynamicFormFieldDefinition field)
    {
        return GetDeepValue(Data, field.Path);
    }
    
    protected async Task SetValue(DynamicFormFieldDefinition field, object? value)
    {
        SetDeepValue(Data, field.Path, value);
        await DataChanged.InvokeAsync(Data);
    }

    protected async Task RemoveListValue(DynamicFormFieldDefinition field, int index)
    {
        var prop = GetValue(field);

        if (prop is IList list)
        {
            list.RemoveAt(index);
            
            await DataChanged.InvokeAsync(Data);
        }
    }

    protected async Task SetListValue(DynamicFormFieldDefinition field, object? value, int index)
    {
        var prop = GetValue(field);

        if (prop is IList list)
        {
            if (list.Count - 1 < index)
            {
                if (value is null && field.DataType is not null)
                {
                    var defaultValue = Activator.CreateInstance(field.DataType); 
                    list.Add(defaultValue);
                }
                else
                {
                    list.Add(value);
                }
            }
            else
            {
                list[index] = value;
            }
            
            await DataChanged.InvokeAsync(Data);
        }
    }
    
    protected object? GetListValue(DynamicFormFieldDefinition field,  int index)
    {
        var prop = GetValue(field);

        if (prop is IList list)
        {
            return list[index];
        }

        return null;
    }

    protected int GetListLength(DynamicFormFieldDefinition field)
    {
        var prop = GetValue(field);

        if (prop is IList list)
        {
            return list.Count;
        }
        
        return 0;
    }
    
    protected PropertyInfo? GetPropertyInfo(object target, LambdaExpression path)
    {
         List<MemberInfo> members = new List<MemberInfo>();

        Expression exp = path.Body;

        // There is a chain of getters in propertyToSet, with at the 
        // beginning a ParameterExpression. We put the MemberInfo of
        // these getters in members. We don't really need the 
        // ParameterExpression

        while (exp != null)
        {
            MemberExpression mi = exp as MemberExpression;

            if (mi != null)
            {
                members.Add(mi.Member);
                exp = mi.Expression;
            }
            else
            {
                ParameterExpression pe = exp as ParameterExpression;

                if (pe == null)
                {
                    // We support only a ParameterExpression at the base
                    throw new NotSupportedException();
                }

                break;
            }
        }

        if (members.Count == 0)
        {
            // We need at least a getter
            throw new NotSupportedException();
        }

        // Now we must walk the getters (excluding the last).
        object targetObject = target;

        // We have to walk the getters from last (most inner) to second
        // (the first one is the one we have to use as a setter)
        for (int i = members.Count - 1; i >= 1; i--)
        {
            PropertyInfo pi = members[i] as PropertyInfo;
            targetObject = pi.GetValue(targetObject);
        }

        return members[0] as PropertyInfo;
    }
    
    protected void SetDeepValue<TValue>(object target, LambdaExpression  propertyToSet, TValue valueToSet)
    {
        List<MemberInfo> members = new List<MemberInfo>();

        Expression exp = propertyToSet.Body;

        // There is a chain of getters in propertyToSet, with at the 
        // beginning a ParameterExpression. We put the MemberInfo of
        // these getters in members. We don't really need the 
        // ParameterExpression

        while (exp != null)
        {
            MemberExpression mi = exp as MemberExpression;

            if (mi != null)
            {
                members.Add(mi.Member);
                exp = mi.Expression;
            }
            else
            {
                ParameterExpression pe = exp as ParameterExpression;

                if (pe == null)
                {
                    // We support only a ParameterExpression at the base
                    throw new NotSupportedException();
                }

                break;
            }
        }

        if (members.Count == 0)
        {
            // We need at least a getter
            throw new NotSupportedException();
        }

        // Now we must walk the getters (excluding the last).
        object targetObject = target;

        // We have to walk the getters from last (most inner) to second
        // (the first one is the one we have to use as a setter)
        for (int i = members.Count - 1; i >= 1; i--)
        {
            PropertyInfo pi = members[i] as PropertyInfo;

            if (pi != null)
            {
                targetObject = pi.GetValue(targetObject);
            }
            else
            {
                FieldInfo fi = (FieldInfo)members[i];
                targetObject = fi.GetValue(targetObject);
            }
        }

         // The first one is the getter we treat as a setter
        {
            PropertyInfo pi = members[0] as PropertyInfo;

            if (pi != null)
            {
                pi.SetValue(targetObject, valueToSet);
            }
            else
            {
                FieldInfo fi = (FieldInfo)members[0];
                fi.SetValue(targetObject, valueToSet);
            }
        }
    }
    
    protected object? GetDeepValue(object target, LambdaExpression propertyToSet)
    {
        List<MemberInfo> members = new List<MemberInfo>();

        Expression exp = propertyToSet.Body;

        // There is a chain of getters in propertyToSet, with at the 
        // beginning a ParameterExpression. We put the MemberInfo of
        // these getters in members. We don't really need the 
        // ParameterExpression

        while (exp != null)
        {
            MemberExpression mi = exp as MemberExpression;

            if (mi != null)
            {
                members.Add(mi.Member);
                exp = mi.Expression;
            }
            else
            {
                ParameterExpression pe = exp as ParameterExpression;

                if (pe == null)
                {
                    // We support only a ParameterExpression at the base
                    throw new NotSupportedException();
                }

                break;
            }
        }

        if (members.Count == 0)
        {
            // We need at least a getter
            throw new NotSupportedException();
        }

        // Now we must walk the getters (excluding the last).
        object targetObject = target;

        // We have to walk the getters from last (most inner) to second
        // (the first one is the one we have to use as a setter)
        for (int i = members.Count - 1; i >= 1; i--)
        {
            PropertyInfo pi = members[i] as PropertyInfo;

            if (pi != null)
            {
                targetObject = pi.GetValue(targetObject);
            }
            else
            {
                FieldInfo fi = (FieldInfo)members[i];
                targetObject = fi.GetValue(targetObject);
            }
        }

         // The first one is the getter we treat as a setter
        {
            PropertyInfo pi = members[0] as PropertyInfo;

            if (pi != null)
            {
                return pi.GetValue(targetObject);
            }
            else
            {
                FieldInfo fi = (FieldInfo)members[0];
                return fi.GetValue(targetObject);
            }
        }
        
    }
}